<!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">{{ header.brand }}</a>
        <a class="btn btn-primary" href="#">{{ header.btn }}</a>
      </div>
    </nav>